*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

:root{
    --bg-color: #7ab1be;
    --main-color: darkblue;
    --text-color: black;
    --second-color: rgb(116, 7, 240);
}
/* image section */
.logo{
    /* width: 70px;
    filter: brightness(90%);
    color: aliceblue; */
    font-size: 50px;
    color: var(--main-color);
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding-left: 10px;
}

.logo:hover{
    filter: brightness(200%);
    transition: all 0.5s;
}

.logo span{
    color: var(--second-color);
}

header{
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:20px;
    margin-left: 15px;
    margin-right: 15px;
    padding:20px;
    background-color:#17043800
    border-radius: 50px;
    gap: 10px;
}
 
header :hover{
    color: aqua;
}

a{
    text-decoration:none;
    color: rgb(191, 211, 218);
    font-size: 18px;
    margin: 0 15px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

a:hover{
    color: #170438;
    transition: all 0.5s;
    font-family: pathway-extrabold, sans-serif;
}


.nav-links{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0 15px;
}

.contact-button{
    background-color: #170438;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 1s;
    border-radius: 50px;
}

nav{
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.contact-button:hover{
    background-color:  #4d2fd1;
    transition: all 0.5s;
}

body{
background-color: #7ab1be;
}

img{
    width: 25;
    height: 25;
    border-radius: 50%;
    box-shadow: 10px 10px 10px  rgba(34, 17, 109, 0.788);
    margin-right: 10px;
}

section.home{
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-between;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
    box-shadow: #170438;
}

.btn{
    background-color: #493172;
    color: rgb(61, 127, 180);
    padding: 5px 10px;
    border-radius: 30px;
    text-decoration: none
}

.btn:hover{
    color: #493172;
    background-color: antiquewhite;
}

.social-icons{
    margin:10px ;
}

.social-icons i{
    border-style: none;
    padding: 5px;
    padding-right: 2px;
    margin-bottom: 2.5px;
}

#hc{
    color: #1279dab9;
}

.wrapper{
    display: flex;
}

.static-text{
    font-size: 50px;
    font-weight: 500px;
    margin-top: 3px;
}

.wrapper .dynamic-texts{
   margin-left: 15px;
   line-height: 90px;
   height: 70px;
   background: #7ab1be;
   overflow: hidden;
}

.dynamic-texts li{
    list-style: none;
    color: #e7eef0;
    font-size: 35px;
    font-weight: 500;
    top: 0;
    position: relative;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide{
    100%{
        top: -360px;
    }
}

.dynamic-texts li {
    position: relative;
    
}

.dynamic-texts li ::after{
    content: "";
    position: absolute;
    left: 0;
    height: 75%;
    width: 100%;
    background-color: #7ab1be;
    border-left:4px solid #38b1d6;
    animation: typing 3s steps(10) infinite;
}

@keyframes typing{
    40%,
    60%{
        left: calc(100% + 8px)
    }
    100%{
        left: 0;
    }
}
